
body {
  max-width: 1024px;
  margin: 0 auto;
}

div#main-body {
  
  width: 100%;
  margin: 0 auto;
}


.header {
  width: 100%;
  margin: 0 auto;
  /* height: 40vh; */
 
  
}

.discount-bar {
    height: 5vh;
    background: rgb(10, 88, 162);
    color: white;
    border-top: 15px solid black;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-img {
    background-image: url('./images/mainImg.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 31.5vh; */
    height: 240px;
    width: 100%;
   
    
}


.main-container {
  width: 93%;
 
  padding-top: 15px;
  margin: 0 auto;
}


p#left-collections {
  font-size: .7em;
}

#right-collections {
  float: right;
  font-size: .6em;
  color: blue;
  padding: 3px;
  border-bottom: 3px solid lightgrey;
}

#collections {
  border-bottom: 7px solid lightgrey;
  padding-bottom: 8px;
}

.collections-link {
     border-bottom: 2px solid lightgrey;
     padding-bottom: 5px;
}

.main {
  padding-top: 20px;
}

section {
  display: flex;
  align-items: center;
  width: 100%;

}

.owl-carousel {
    width: 100%;
    margin: 0 auto;
}

.glasses {
  height: 270px;
}

.customPrevBtn {
  background: rgb(240, 240, 240);
  font-size: 40px;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  position: relative;
  top: -30px;
  left: 0;


}

.slider {
  width: 94%;
  margin: 0 auto;

}



.customNextBtn {
  background: rgb(240, 240, 240);
  font-size: 40px;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  position: relative;
  top: -30px;
  right: 0;
}


.item {
  padding: 5px;
  color: rgb(84, 83, 106);
  margin-top: 0px;
}

.item-name {
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 9999999;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.price {
  text-align: center;
  word-spacing: 10px;
}

.price-cut {
  text-decoration: line-through;
  color: rgb(186, 10, 8);
}

sup {
 font-size: 9px;
}

#parallelogram {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    width: 100%;
    height: 350px;
    transform: skew(173deg);
    padding: 30px;
  }


  label {
    font-size: 10px;
  }

  footer {
    width: 67%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
    
  }


  input, textarea, label {
    width: 100%;
  }

  .formStuff {
    width: 98%;
    transform: skew(-173deg);
  }

  button {
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 100%;
    padding: 10px;
  }

  footer h3 {
    text-align: center;
  }

  p.description {
    font-size: 9px;
  }

/*Responsive section*/


@media(max-width: 768px){

    .main-img {
        height: 24vh;
    }
    
    footer {
        width: 80%;
    }
    
    #parallelogram {
        width: 100%;
    }
}

@media(max-width: 425px){

  .main-img {
    height: 14vh;
}
    
.main-container {
  width: 80%;
}
  

  

  
  
   
}








